#orga {
  font-family: $font-7;

  margin-top: 5%;
  padding: 5% 3vw 0 3vw;
  

  h3 {
    font-size: 1.1rem;
    padding-top: 1rem;
  }
  h5 {
    font-size: 0.9rem;
    padding-right: 0.5rem;
  }
  .orgaTitle {
    display: flex;
    justify-content: center;
    color: $color-2;
    font-family: $font-1;
  }

  .orgaDisplay {
    padding: 1%;
    margin-left: 2%;
    margin-top: 5vh;
    width: 100%;
    display: grid;
    // min-height: $minHeight;
    grid-template-columns: 24% 24% 24% 24%;
  }
  li {
    margin-top: 20%;
  }
  img {
    border-radius: 9rem;
    width: 75%;
    height: auto;
  }

  @media screen and (max-width: 850px) {
    h5 {
      font-size: 0.4rem;
    }
    h3 {
      font-size: 0.5rem;
    }
    .iconLinkedin {
      i {
        font-size: 10px;
      }
    }
    // #orga{
    //   height: 30vh;
    // }
  }
}
