#footer {
  height: 200px;
  width: 100%;
  background-color: $color-1;
  color: $white;
  font-size: 0.8rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
 

  .socialNetwork ul {
    display: flex;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
  }
  i {
    color: rgb(211, 204, 204);
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 1.5rem;
  }
  .footertext {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: rgb(211, 204, 204);
  }
  img{
    width:20%;
  }
}