.intervenants {
  font-family: $font-4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h1{
    font-family: $font-1;
  }

  h3 {
    font-size: 1rem;
    font-weight: 1000;
    color: $color-1;
    padding-top: 1rem;
  }
  h5 {
    font-size: 0.7rem;
    color: $color-9;
    font-family: $font-2;
    font-weight: 600;
    padding-right: 0.5rem;
  }
  .intervenantsTitle {
    display: flex;
    justify-content: center;
    color: $color-2;
    font-family: $font-1;
  }

  .intervenantsDisplay {
    padding: 1%;
    margin-left: 2%;
    width: 100%;
    display: grid;
    min-height: $minHeight;
    grid-template-columns: 24% 24% 24% 24%;
  }
  li {
    margin-top: 3rem;
  }
  img {
    border-radius: 9rem;
    width: 75%;
    height: 60%;
  }
}
