.aboutMarquee{
    padding:3rem 0rem;
    h1{
    text-align: center;
    padding-bottom: 3rem;
    color: $color-2;
    }
  }
    .small {
      width: 13rem;
      margin-right: 2rem;
    }
    .tooBig {
      width: 9rem;
      margin-right: 2rem;
    }
  