.navigation {
  background-color: #bac8ea;
  margin-top: 0;
  font-style: "Medium 500";
  #logo {
    display: flex;
    img{
      height:10%;
      width:10%;
    }
   
  }
#ccfi{
  width:20%;
}
#billet{
  animation: clignote 2s linear infinite;
}
@keyframes clignote {  
  50% { opacity: 0; }
}
  .header {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    width: 100%;
    color: white;

    .logo {
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        width: 20%;
        height: 35%;
      }
    }

    .drapeau {
      width: 4vw;
      margin-right: 3vw;
      cursor: pointer;
    }
    h1 {
      font-family: $font-7;
      font-size: 5.7vw;
      padding-bottom: 0.6rem;
      padding-top: 0.5rem;
      font-weight: bold;
      color: rgb(63, 170, 236);
      -webkit-text-fill-color: $color-1; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: $color-1;
      text-shadow: 3px 1px;
    }
  }

  .navbar {
    width: 100%;
    background: $color-1;
    font-family: $font-7;
    color: $white;
    a {
      color: white;
      // margin-left: 2px;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
