#partenaires{
h1{
    text-align: center;
}
    
   .partenairesImg{
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding: 3rem 0 3rem 0;
    img{
        width:20%;
        justify-content:space-around;
    }
}
}