.partenaires {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;

  img{
    margin: 1rem;
  }

  h1 {
    text-align: center;
    padding-bottom: 7vh;
  }
}

.tooBig {
  width: 15%;
}
.enorme {
  width: 5%;
}

@media screen and (max-width: 850px) {
  .tooBig {
    width: 2rem;
    margin-right: 2rem;
  }
  .enorme {
    width: 2rem;
    margin-right: 2rem;
  }
}
