.partenaires {
  padding: 1rem;
  display:flex;
  justify-content:center;
  flex-direction:column;
  h1 {
    text-align: center;
    padding-bottom: 7vh;
  }

}
.small {
  width: 13rem;
  margin-right: 2rem;
}
.tooBig {
  width: 9rem;
  margin-right: 2rem;
}
.enorme{
  width: 5rem;
  margin-right: 2rem;
}
