.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-9;
  font-family: $font-4;
  font-weight: bold;

  .title {
    text-align: center;
    padding-top: 2rem;
  }
  .title i {
    color: $color-6;
    padding: 2rem 0 1rem 0;
    font-size: 2rem;
  }
  .aboutContent {
    text-align: center;
    padding: 1.3rem 2% 2rem 2%;

    p {
      margin-top: 2rem;
    }
  }
  .aboutMarquee {
    padding: 1rem 0rem;
    h1 {
      text-align: center;
      padding-bottom: 0.5rem;
    }
  }
  .small {
    width: 13rem;
    margin-right: 2rem;
  }
  .tooBig {
    width: 9rem;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 950px) {
  .knowledgesContent {
    h3 {
      font-size: 1.2rem !important;
    }
    .languagesList {
      padding-top: 0.2rem !important;
    }
    p {
      font-size: 0.8rem;
    }
    .otherSkills,
    .hobbies {
      font-size: 0.8rem;
    }
  }
}
@media screen and (max-width: 850px) {
  .knowledgesContent {
    h4 {
      font-size: 0.9rem !important;
    }
    h5 {
      font-size: 0.6rem !important;
      padding: 0.2rem 1rem !important;
    }
  }
}
@media screen and (max-width: 500px) {
  .knowledgesContent {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 180px 180px !important;
    grid-template-areas:
      "1"
      "2"
      "3"
      "4" !important;

    .languages {
      grid-area: 1 !important;
    }
    .experience {
      grid-area: 2 !important;
      margin-left: 0 !important;
    }
    .otherSkills {
      grid-area: 3 !important;
      margin-right: 0 !important;
    }
    .hobbies {
      grid-area: 4 !important;
      margin-top: 0.5rem !important;
    }
  }
}
