#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url(../../components/media/img1.png);
  background-repeat: no-repeat;
  background-size: cover;
  // background-image-height: 100vw;
  height: 45vw;
  opacity: 0.5;

  .homeContent {
    color: $color-1;
    overflow: hidden;
    margin: 1rem;
    display: flex;
    width: 100vw;

    .homeTitle {
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      width: 100%;
      font-weight: bold;
      margin: 30px;
      opacity: 1;
      padding: 1rem;

      h1 {
        margin-top: 0.7rem;
        font-size: 8vw;
        color: white;
        -webkit-text-fill-color: rgb(
          2,
          2,
          84
        ); 
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $color-1;
        text-shadow: 3px 2px;
        filter: drop-shadow(30px 10px 4px $white);
      }

      h2 {
        font-size: 6vw;
        margin-bottom: 0.7rem;
        color: $color-2;
        -webkit-text-fill-color: white; 
        -webkit-text-stroke-color: $color-2;
        text-shadow: 3px 2px;
        filter: drop-shadow(30px 10px 4px $color-1);
      }
      h4 {
        font-size: 4vw;
        color: white;
        -webkit-text-fill-color: rgb(
          0,
          0,
          84
        ); 
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: $color-2;
        text-shadow: 3px 2px;
        filter: drop-shadow(30px 10px 4px $white);
      }
    }

    .slogan {
      font-family: $font-4;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .homeContent {
      position: absolute;
      padding-right: 10px;
      display: flex;

      h1 {
        font-size: 5rem;
        font-family: $font-3;
        color: $color-4;
        text-transform: uppercase;
      }

      .pdf {
        a {
          font-size: 1.5rem;
          background: $color-3;
          padding: 1rem 2rem;
          border-radius: $borderRadius;
          box-shadow: 0 5px 1px rgb(15, 15, 15);
          transition: 0.2s ease;

          &:hover {
            background: $color-4;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  #home {

   height:60vw;
  
    .homeContent {
      margin: 0 !important;
    }
  }
}

