.inscription{
 display:flex;
 justify-content: center;
 margin-top:2rem;
  button{
    height:2.5rem;
    width:8rem;
    font-family: $font-2;
    border-radius: 4px;
    font-weight: bold;
    background-color:$color-1;
    color: $white;
  }
}

