.inscription {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  button {
    border-radius: 4px;
    background-color: $color-1;
    font-size: 100%;
    border: none;
    text-align: center;
    padding: 5%;
    width: 8rem;
    height: 3rem;
    margin-right: 5px;
  }

  a{
    color: rgb(245, 82, 82);
  }
}
