.TransTech2020 {
  padding: 1rem 2% 1rem 2%;
  color: $color-9;
  font-family: $font-7;

  h4 {
    font-size: 1rem;
  }
  li h5 {
    font-size: 1rem;
  }
  .TransTech2020Title {
    text-align: center;
    font-size: 2rem;
  }
  .TransTech2020Content {
    .presentation {
      display: flex;
      flex-direction: column;
      padding-top: 1.5rem;
      font-weight: bold;

      li {
        padding-left: 3rem;
        // h5 {
        //   font-weight: bold;
        // }
      }
    }
    .details {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      h5 {
        font-size: 0.8rem;
      }
      .place {
        display: flex;
        img {
          margin-left: 1rem;
          width: 2.8rem;
          height: 1.8rem;
        }
      }
      .bloc1,
      .bloc2 {
        background-color: $color-6;
        width: 45%;
        justify-content: space-around;
        box-shadow: 0px 0px 3px 5px rgba(231, 235, 247, 0.84);
        margin: 1rem 5% 1rem 5%;
        padding: 2rem 2rem 2rem 2rem;

        h3 {
          padding-bottom: 1.2rem;
          font-weight: bold;
          color: $color-8;
        }
        h4 {
          font-size: 0.9rem;
          color: white;
        }
      }
      .bloc1 {
        padding-left: 1rem;
      }
      .bloc2 {
        padding-left: 1rem;
      }

      h4 {
        padding-top: 0.1rem;
      }

      .where {
        h4,
        h5 {
          margin-bottom: 0;
        }
      }

      .time,
      .presentateur,
      .where {
        display: flex;
        .text {
          display: flex;
          flex-direction: column;
        }
        i {
          margin-right: 1rem;
          color: $color-5;
        }
        .fr {
          margin-top: 4rem;
        }
      }
      .bloc1 {
        .presentateur {
          margin-top: 1rem;
        }
        .where {
          margin-top: 1rem;
        }
      }
      .bloc2 {
        .presentateur {
          margin-top: 1.2rem;
        }
        .where {
          margin-top: 2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.7rem;
  }
  .TransTech2020Content {
    .details {
      flex-direction: column !important;
      .bloc1,
      .bloc2 {
        width: 90% !important;
        justify-content: space-around !important;
        border: 2px $color-2 solid;
        margin: 1rem 5% 1rem 5%;
        padding: 2rem 2rem 2rem 2rem;
      }
    }
  }
}
